name: Build and Push to Docker Hub a Flask app

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        pip3 install -r requirements.txt
        python -m nltk.downloader punkt
    - name: Build Docker Image
      uses: docker/build-push-action@v2
      with:
          context: .
          dockerfile: Dockerfile
          push: false
    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    - name: Push to Docker Hub
      uses: docker/build-push-action@v2
      with:
          context: .
          dockerfile: Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/flask-app-and-github-actions
